.sidebar-panel {
  height: min-content;
  width: 90%;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.sidebar-panel-selected {
  background: cornflowerblue;
  color: white;
  border-radius: 5px;
}

.sidebar-panel-dragging {
  opacity: 0.4;
}

.sidebar-panel_image {
  flex: 0 0 auto;
  height: 42px;
  width: 40px;
  border-radius: 5px;
}

.sidebar-panel_caption {
  font-size: 16px;
  line-height: 18px;
  padding-left: 5px;
  overflow: hidden;
}
